.books-table {
  margin-left: 17%;
  margin-right: 17%;
  margin-bottom: 80px;
  border: 2px solid rgba(255, 255, 255, 0.61);
  border-collapse: collapse;
  
}

th{
  border: 2px solid rgba(255, 255, 255, 0.61);
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.61);
  text-transform: uppercase;
  width: 15%
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.errorPage{
  width: 30%;
  margin-inline: auto;
}