.button-div{
    width: 100%;
}

.button{
    width: 100%;
    padding: 4%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background: #1d2b3a;
    color: var(--body-text-color);
    font-size: 1em;
}

.sort-button-div{
    display: inline-block;
}

.sort-button{
    padding: 5px;
    margin-left: 20%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background: #1d2b3a;
    color: var(--body-text-color);
    font-size: 1em;
}

.pagination-button{
    padding: 8px;
    margin-bottom: 3%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background: #1d2b3a;
    color: var(--body-text-color);
    font-size: 1em;
}

.current-page{
    margin-inline: 1%;
    padding: 8px;
    font-size: x-large;
}

#submit-button:hover{
    background-color: rgba(212, 132, 11, 0.836);
}

#reset-button:hover{
    background-color: rgb(175, 11, 11);
}

.pagination-button:hover, 
.sort-button:hover{
    background-color: rgba(62,76,83,1);
}

.disabled-button{
    width: 100%;
    padding: 4%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background-color: rgb(54, 45, 45);
    color: var(--body-text-color);
    pointer-events: none;
    font-size: 1em;
}


