.table-div {
    display: inline-block;
    width: 85%;
    margin-bottom: 5%;
}

table {
    width: 100%;
    margin-top: 3%;
    border-collapse: collapse;
}

th {
    border: 2px solid var(--body-text-color);
    padding: 5px;
    font-size: 1em;
    text-transform: uppercase;
}


td {
    border: 2px solid var(--body-text-color);
    height: 50px;
    padding: 5px;
}