#homepage{
    display: inline-block;
    width: 45vw;
}

.homepage-header{
    text-transform: uppercase;
}

.homepage-content{
    font-size: 120%;
    text-align: justify;
}

.homepage-article{
    margin-bottom: 5%;
}

.homepage-list{
    list-style: none;
}