.books-table {
    display: inline-block;
    width: 85%;
    margin-bottom: 5%;
}

.books-table table {
    width: 100%;
    margin-top: 3%;
    border-collapse: collapse;
}

.books-table-thead th {
    border: 2px solid var(--body-text-color);
    padding: 5px;
    font-size: 1em;
    text-transform: uppercase;
}


.books-table-tbody td {
    border: 2px solid var(--body-text-color);
    height: 50px;
    padding: 5px;
}