#homepage{
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px; 
}

h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.61);
    text-transform: uppercase;
}